* {
    margin: 0;
    padding: 0;
}
/* shared styles*/
.logo-text {
    color: #4E47FF;
    text-decoration: none;
    font-size: 34px;
    font-weight: 800;
    line-height: 150%;;
    font-family: "Inter", "sans-serif";
    text-transform: uppercase;
    padding: 10px 5px 10px 5px;
}
.button {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
}
/* /shared styles*/

/* header */
.header {
    background-image: url("../IMAGES/Hero-bg.png");
    background-repeat: no-repeat;
    height: 550px;
}
/* navigation*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 50px;
}
/* banner*/
#banner-title {
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    text-align: center;
    color: #252432;
    margin: 208px 267.5px 0px;
    padding: 0px 10px;
}
#banner-button {
    display: block;
    margin: 37px auto 150px; 
}
/* /header */

/* main */
/* action */
main {
    margin: 0px 150px 0px 150px;
}
/* action */
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0px 100px;
}
.action-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 42px;
    color: #252432;
    margin-bottom: 20px;
}
.action-text {
    color: rgba(37, 36, 50, 0.5);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #252432;
}
.action-image {
    border-radius: 48px;
}
/* /main */
