* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
/* shared styles */
.button {
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 23px;
    font-size: 16px;
    transition: 0.6s;
}


/* header */
header {
    height: 150px;
    margin: 0 auto;
}
.bg {
    background-image: url("../IMAGES/Hero-bg.png");
    height: 350px;
}
/* nav */
header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 10px;
}
header nav button {
    padding: 8px 23px;
    font-size: 16px;
}
header nav .logo {
    font-size: 34px;
    color: #4E47FF;
    font-weight: bold;
}
/* banner */
.banner-section{
    margin: 0px auto;
}
.banner-section h1{
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    font-family: "Raleway";
    margin-top: -100px;
}
.banner-section button{
    padding: 18px 36px;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    transition: 0.6s;
}
/* action */
.action{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-right {
    border-radius: 10px;
}
.action .action-left h2 {
    font-size: 42px;
    font-size: bold;
}
.action-left button {
    margin-top: 20px;
    transition: 0.6s;
}
.action-left p {
    margin-top: 10px;
}

/* user */
.user {
    background-color: rgba(78, 71, 255, 0.1);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}
.user h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.user .number {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.number .num {
    padding: 0px 90px;
}
.number .num h4 {
    font-size: 65px;
    color: #4E47FF;
    margin-top: 20px;
}
/* feedback */
.feedback-section{
    margin-top: 70px;
}
.feedback-section h2{
    text-align: center;
    font-size: 40px;
    color: #000000c9;
}
.feedback-container{
    display: flex;
    gap: 20px;
}
.feedback{
    background-color: #f0f8ff94;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.feedback-section .feedback h2{
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    margin: 10px 0px;
}
.reviewer-details{
    display: flex;
    gap: 20px;
    align-items: center;
}
.reviewer-details .profile img{
    border-radius: 50%;
}
.feedback p{
    margin-bottom: 13px;
}
.profile-details h5{
    font-size: 20px;
    color: #000000ab;
}
.profile-details p{
    color: #0000007e;
}
/* focus */
.focus {
    margin: 35px auto;
}
.focus h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.focus p{
    text-align: center;
    opacity: 0.6;
}
.focus button{
    display: block;
    margin: 0 auto;
}
.focus img{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
/* touch */
.touch{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.touch .touch-left h2{
    font-size: 97px;
}
.touch .touch-right{
    margin: 80px 20px;
}
.touch .touch-right .input {
    font-size: 18px;
    padding: 10px 0px 7px 25px;
    border-radius: 10px;
    outline: none;
    margin: 20px 0px;
    width:100%;
}
.touch-right button {
    width: 100%;
    background-color: #4E47FF;
    color: white;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    transition: 0.6s;
}
/* footer */
footer {
    padding: 40px 0px;
}
footer .logo {
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
    color: #4E47FF;
}
footer p {
    text-align: center;
    opacity: 0.6;
}
.navigator ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
    font-size: 20px;
}
.navigator ul li {
    list-style: none;
}
.navigator ul li a {
    text-decoration: none;
    opacity: 0.6;
}
button:hover {
    background-color: green;
    transition: 0.6s;
    transform: scale(1.09);
    cursor: pointer;
    color: black;
    font-weight: bold;
}
